[submodule "glm"]
	path = glm
	url = https://github.com/g-truc/glm
[submodule "lua"]
	path = lua
	url = https://github.com/lua/lua
[submodule "network/engproto"]
	path = network/engproto
	url = git@github.com:polinomov/engproto.git
